-var pageTitle ="Liquid Image"
<!DOCTYPE html>
html(lang="en")
    head
        include pug/layout/meta
        include pug/layout/styles
    body
        include pug/components/landingS
        include pug/components/logoFooter
            //-script
    include pug/layout/scripts